* {
    box-sizing: border-box;
}
#two-columns {
    display: flex;  
}
#sidebar-content{
    width:200px;
    background-color: antiquewhite;
    order: 2;
}
#main-content{
    width:600px;
    justi
}