* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: 130px 1fr 2fr 1fr 130px;
    grid-template-areas: 
        ". header header header ."
        ". left middle right .";
}

#header {
    grid-area: header;
    padding: 0px 24px;

    margin: 0px;
    font-size: 25px;
}

#left-column {
    grid-area: left;
    padding-top: 24px;
    background-color: antiquewhite;
}

#middle-column {

    grid-area: middle;
    padding-top: 24px;
}

#right-column {
    grid-area: right;
    padding-top: 24px;
}

/* header styling */

#header {
    display: flex;
    justify-content: space-between;
}

#bay {
    color: blue;
    border-left: solid ;
}

#search {
    text-align: right;
    display: inline-block;
    background-color: rgb(246, 250, 254);
    padding-left: 20vw;
    padding-right: 25px;
    padding-top: 5px;
    border-radius: 20px;
    border: solid rgb(227, 226, 226);
    color: rgb(170, 170, 170);
    font-size: 20px;
}



/* Left column styling */

#thumbnail-images {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 15px;
    align-content: flex-end;
}

#thumbnail-images img {
    border-radius: 10px;
    text-align: right;
   
}

#left-column .thumbnail {
    width: 5vw;
    max-width: 50px;

}

/* middle column styling */

.listing {
    display: flex;

}

.listing h2 {
    width: 30vw;
    max-width: 300px;
    display: block;
    margin: 0px;
    font-size: 20px;
}

.hr {
    margin:  10px 20px;
    color: rgb(196, 196, 196);
}

#middle-column .showcase {
    max-width: 400px;
    width: 30vw;
    border-radius: 20px;
    padding-right: 10px;
    margin-bottom: 0px;
}

#main-content {
    border: solid rgb(221, 221, 221);
    border-radius: 20px;
    padding: 15px;
}

.store {
    font-size: 15px;
    border-bottom: solid rgb(196, 196, 196);
    padding-bottom: 15px;
    display: block;
    margin: 0px;
    margin-bottom: 10px;
}

.details {
    margin: 10px;
}

.detail-h {
    font-weight: 600;
}

.price {
    font-size: 20px;
    border-top: solid 1px rgb(196, 196, 196);
    border-bottom: solid 1px rgb(196, 196, 196);
    padding: 20px 0px;
}


/* right column styling */

#right-column div {
    border: solid rgb(206, 206, 206);
    color: rgb(132, 132, 132);
    border-radius: 20px;
    background-color: aliceblue;
    width: 150px;
    padding: 20px;
    margin: 10px;
}

#insurance,
#seller-information {
    padding: 20px;
    margin: 20px;
}

/* buttons */

.button-stack {
    padding-top: 5px;
    margin-top: 10px;
}

.buy-button {
    background-color: rgb(93, 141, 245);
    padding: 25px 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 10px
}

.wish-button {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: solid rgb(93, 141, 245) ;
    border-radius: 20px;
    color: rgb(93, 141, 245);
    text-align: center;
    margin: 10px
}

.button {
    background-color: rgb(255, 96, 96);
    padding: 15px 20px;
    border-radius: 20px;
    color: rgb(33, 33, 33);
    text-align: center;
    margin: 10px
}