* {
    box-sizing: border-box;
    background-color: rgb(41, 41, 41);
}   

#main-column {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
   justify-content: center;

}



#main-column img {
    width: 100%;
    max-width: 240px;
    border: solid 5px rgb(147, 32, 143);
    border-radius: 6%; 
}

h3 {
    color: aliceblue;
    font-size: 40px;
    display: block;
    text-align: center;
}

@media screen {
    
}
