* {
    box-sizing: border-box;
    background-color: rgb(86, 24, 109);
}   

#main-column {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 800px;
    margin: 0px auto;
    margin-bottom: 70px;

}

#main-column img {
    width: 100%;
    max-width: 240px;
    border: solid 5px rgb(147, 32, 143);
    border-radius: 6%; 
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    display: block;
    text-align: center;
    font-family: sans-serif;
}

